@import '../../styles/colorscheme';
header{
    background-color: $base-color;
    color: $white;
    width: 100%;
    #header_top{
        height: 120px;
        overflow: hidden;
        display: flex;
        a{
            text-decoration: none;
            display: block;
            flex-direction: column;
            #head_wrapper{
                overflow: hidden;
                display: flex;
                justify-content: center;
                height: 100%;
                #logo{
                    margin-left: 1rem;
                    height: 100%;
                    float: left;
                }
                #strong_wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 2rem;
                strong{
                        color: $white;
                        font-size: 18px;
                    }  
                }
            }
        }
    }

    #header_bottom{
        padding-left: 4rem;
        margin-top: 1rem;
        overflow: visible;
        background-color: $navbar-bg;
        #iconWrapper{
            background-color: $navbar-bg;
            #menuIcon{
                height: 42px;
                padding: 0.5rem;
                float: right;
                margin-right: 2rem;
                display: none;
            }
        }
        nav{
            text-align: left;
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            li{
                display: inline-block;
                #homeIcon{
                    height: 40px;
                    padding: 0.6rem;
                }
                a{
                    display: inline-block;
                    padding: 0.5rem;
                    text-decoration: none;
                    color: $white;
                }
                a:hover{
                    background-color: $navbar-highlight;
                    color: $white;
                }
                .active{
                    background-color: $main-bg-color;
                    color: $black;
                    //border-top-left-radius: 1rem;
                    //border-top-right-radius: 1rem;
                }
                .active:hover{
                    background-color: $main-bg-color;
                    color: $black;
                }
            }
        }
    }
}
@media only screen and (max-width: 1028px) {
    header{
        background-color: $base-color;
        color: $white;
        width: 100%;
        #header_top{
            height: 120px;
            overflow: hidden;
            display: flex;
            a{
                text-decoration: none;
                display: block;
                flex-direction: column;
                #head_wrapper{
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    #logo{
                        margin-left: 1rem;
                        height: 100%;
                        float: left;
                    }
                    #strong_wrapper{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 2rem;
                    strong{
                            color: $white;
                            font-size: 16px;
                        }  
                    }
                }
            }
        }

        #header_bottom{
            padding-left: 4rem;
            margin-top: 1rem;
            overflow: visible;
            background-color: $navbar-bg;
            #iconWrapper{
                background-color: $navbar-bg;
                height: 42px;
                #menuIcon{
                    height: 42px;
                    float: right;
                    margin-right: 2rem;
                    display: block;
                }
            }
            .navWrapper{
                display: none;
            }
            .navWrapperShow{
                display: block;
            }
            nav{
                text-align: left;
                ul{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
                li{
                    display: block;
                    a{
                        display: inline-block;
                        padding: 0.5rem;
                        text-decoration: none;
                        color: $white;
                    }
                    a:hover{
                        background-color: $navbar-highlight;
                        color: $white;
                    }
                    .active{
                        background-color: $main-bg-color;
                        color: $black;
                        //border-top-left-radius: 1rem;
                        //border-top-right-radius: 1rem;
                    }
                    .active:hover{
                        background-color: $main-bg-color;
                        color: $black;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 660px) {
    header{
        background-color: $base-color;
        color: $white;
        width: 100%;
        #header_top{
            height: 120px;
            overflow: hidden;
            display: flex;
            a{
                text-decoration: none;
                display: block;
                flex-direction: column;
                #head_wrapper{
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    #logo{
                        margin-left: 1rem;
                        height: 100%;
                        float: left;
                    }
                    #strong_wrapper{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 2rem;
                    strong{
                            color: $white;
                            font-size: 14px;
                        }  
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    header{
        background-color: $base-color;
        color: $white;
        width: 100%;
        #header_top{
            height: 120px;
            overflow: hidden;
            display: flex;
            a{
                text-decoration: none;
                display: block;
                flex-direction: column;
                #head_wrapper{
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    #logo{
                        margin-left: 1rem;
                        height: 100%;
                        float: left;
                    }
                    #strong_wrapper{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 2rem;
                    strong{
                            color: $white;
                            font-size: 12px;
                        }  
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 340px) {
    header{
        background-color: $base-color;
        color: $white;
        width: 100%;
        #header_top{
            height: 120px;
            overflow: hidden;
            display: flex;
            a{
                text-decoration: none;
                display: block;
                flex-direction: column;
                #head_wrapper{
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    #logo{
                        margin-left: 1rem;
                        height: 100%;
                        float: left;
                    }
                    #strong_wrapper{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 2rem;
                    strong{
                            color: $white;
                            font-size: 10px;
                        }  
                    }
                }
            }
        }
    }
}