<header>
  <div id="header_top">
    <a routerLink="">
      <div id="head_wrapper">
        <img src="assets/images/logo.png" id="logo">
        <div id="strong_wrapper">
          <strong>
            National Institute of Technology Puducherry, Karaikal<br>
            राष्ट्रीय प्रौद्योगिकी संस्थान पुदुच्चेरी, कारैक्काल<br>
            தேசிய தொழில்நுட்பக்‌ கழகம்‌ புதுச்சேரி , காரைக்கால்‌
          </strong>
        </div>
      </div>
    </a>
  </div>
  <div id="header_bottom">
    <div id="iconWrapper">
      <img id="menuIcon" src="assets/icons/menu_icon.png" (click)="toggle()">
    </div>
    <div class="navWrapper{{navClass}}">
      <nav>
        <ul class="text-center">
          <li><img id="homeIcon" src="assets/icons/home_icon.png" routerLink=""></li>
          <li><a routerLink="/resources" routerLinkActive="active">Resources</a></li>
          <li><a routerLink="/people" routerLinkActive="active">People</a></li>
          <li><a routerLink="/teachings" routerLinkActive="active">Teachings</a></li>
          <li><a routerLink="/trainings-workshops-ieps" routerLinkActive="active">Trainings / Workshops / IEPs Attended</a></li>
          <li><a routerLink="/publications" routerLinkActive="active">Publications</a></li>
          <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>