<footer>
    <!--<div id="wrapper" class="row">
      <div id="quickLinks" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <strong>Quick Links</strong>
        <br><br>
        <ul>
          <li><a routerLink="/">Link 1</a></li>
          <li><a routerLink="/">Link 2</a></li>
          <li><a routerLink="/">Link 3</a></li>
        </ul>
      </div>
      <div id="nationalPortals_social" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div id="nationalPortals">
          <strong>National Portals</strong>
          <br><br>
          <div id="portal_wrapper">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div id="portalLink">
                  <a href="https://www.india.gov.in/"><img src="assets/images/govsites/india.gov.png"></a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div id="portalLink">
                    <a href="https://digitalindia.gov.in/"><img src="assets/images/govsites/digindia.png"></a>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div id="portalLink">
                    <a href="http://www.makeinindia.com"><img src="assets/images/govsites/makeinindia.png"></a>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div id="portalLink">
                    <a href="https://data.gov.in/"><img src="assets/images/govsites/data.gov.png"></a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="contact" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <strong>Contact Us</strong>
        <br><br>
        <p>
          National Institute of Technology Puducherry, Karaikal<br>
          Thiruvettakudi, Karaikal, Puducherry 609609<br><br>
          <b>Email:</b> {{contact.email}}<br><br>
          <b>Website:</b> {{contact.website}}<br><br>
          <b>Phone:</b> {{contact.phone}}<br><br>
          <b>Fax:</b> {{contact.fax}}<br>
        </p>
      </div>
    </div>-->
    <div id="copyrights">
      <p class="copyright">Copyright  &copy; 2019 <a routerLink="/webteam"><strong>Webteam</strong></a> @ NIT Puducherry</p>
    </div>
  </footer>