@import '../../styles/colorscheme';
footer{
    background-color: $base-color;
    color: $white;
    width: 100%;
    overflow: hidden;
    #wrapper{
        width: 100%;
        padding: 4rem;
       /* #quickLinks{
            padding: 1rem;
            margin-bottom: 2rem;
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            li{
                a{
                    text-decoration: none;
                    color: $white;
                }
            }
        }*/
        #nationalPortals_social{
            padding: 1rem;
            margin-bottom: 2rem;
            #nationalPortals{
                width: 50%;
                #portal_wrapper{
                    .row{
                        margin-bottom: 1rem;
                        #portalLink{
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
        #contact{
            padding: 1rem;
            margin-bottom: 2rem;
        }
    }
    #copyrights{
        text-align: center;
        padding: 1rem;
    }
}