<div class="container p-3">
  <div class="heading text-center mb-3">
    <strong>WEBTEAM</strong>
  </div>
  <div class="sub-heading text-center mb-3">
    <strong>CHAIRMAN</strong>
  </div>
  <div>
    <table class="table table-bordered">
      <tr>
        <td>Dr. R. Chandrasekar</td>
        <td>Assistant Professor - Dept. of CSE</td>
        <td><a href="mailto:webteam@nitpy.ac.in">webteam@nitpy.ac.in</a></td>
      </tr>
    </table>
  </div>
  <div class="spacer"></div>
  <div class="sub-heading text-center mb-3">
    <strong>DEVELOPERS</strong>
  </div>
  <div>
    <table class="table table-bordered">
      <tr>
        <td>Heartwin John Haveluck</td>
        <td>II Year - Dept. of CSE</td>
        <td><a href="mailto:heartwinhaveluck@gmail.com">heartwinhaveluck@gmail.com</a></td>
      </tr>
      <tr>
        <td>Vedapuriswar Tirouvinguidame</td>
        <td>II Year - Dept. of CSE</td>
        <td><a href="mailto:vedapuriswar@gmail.com">vedapuriswar@gmail.com</a></td>
      </tr>
    </table>
  </div>
  <div class="spacer"></div>
  <div class="sub-heading text-center mb-3">
    <strong>VISUALIZERS</strong>
  </div>
  <div>
    <table class="table table-bordered">
      <tr>
        <td>Mr. S. Vignesh</td>
        <td>Technical Assistant</td>
        <td><a href="mailto:vignesh.s221193@gmail.com">vignesh.s221193@gmail.com</a></td>
      </tr>
      <tr>
        <td>Mr. U. Manikandan</td>
        <td>Technician Systems</td>
        <td><a href="mailto:mani90951@gmail.com">mani90951@gmail.com</a></td>
      </tr>
    </table>
  </div>
  <div class="spacer"></div>
  <div class="text-center">
    <p>For any suggestions to the Website, drop a mail to: <a href="mailto:webteam@nitpy.ac.in">webteam@nitpy.ac.in</a></p>
  </div>
</div>