<div class="container">
  <div class="row">
    <div class="col-3">
      <div id="leftbar_wrapper" class="sticky-top pt-3 pb-3">
        <div id="leftbar">
          <ul class="nav flex-column">
            <li>
              <a  (click)="coursesClick()" id="coursesLbl">Courses</a>
            </li>
            <li>
              <a  (click)="labsClick()" id="labsLbl">Labs</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="spacer"></div>
      <div class="text-center mb-3">
        <strong class="heading" id="waypointCourses">Courses</strong>
      </div>
      <div class="text-justify">
        <ul>
          <li>Under Graduate Courses
            <table class="table table-borderless table-sm">
              <tr>
                <td>EC201</td><td>Signals and Systems</td>
              </tr>
              <tr>
                <td>EC207</td><td>Semiconductor Physics and Devices</td>
              </tr>
              <tr>
                <td>EC209</td><td>Digital Circuits and Systems</td>
              </tr>
              <tr>
                <td>EC202</td><td>Digital Signal Processing</td>
              </tr>
              <tr>
                <td>EC208</td><td>Electronic Circuits</td>
              </tr>
              <tr>
                <td>EC303</td><td>Analog Integrated Circuits</td>
              </tr>
              <tr>
                <td>EC304</td><td>VLSI Design</td>
              </tr>
              <tr>
                <td>EC510</td><td>Adaptive Signal Processing</td>
              </tr>
              <tr>
                <td>EC519</td><td>Analog CMOS Design</td>
              </tr>
              <tr>
                <td>EC1001</td><td>Applied Electronics</td>
              </tr>
              <tr>
                <td>EC1003</td><td>Electronic Devices</td>
              </tr>
              <tr>
                <td>EC1004</td><td>CMOS VLSI Design</td>
              </tr>
              <tr>
                <td>EC1005</td><td>Digital Electronics</td>
              </tr>
              <tr>
                <td>EC1007</td><td>Digital Signal Processing</td>
              </tr>
            </table>
          </li>
          <li>Post Graduate Courses
            <table class="table table-borderless table-sm">
              <tr>
                <td>EC605</td><td>Adaptive Signal Processing</td>
              </tr>
              <tr>
                <td>EC663</td><td>VLSI Digital Signal Processing</td>
              </tr>
              <tr>
                <td>EC662</td><td>Advanced VLSI Design</td>
              </tr>
              <tr>
                <td>EC664</td><td>Wavelet Signal Processing</td>
              </tr>
              <tr>
                <td>EC668</td><td>CMOS Mixed Signal Circuit Design</td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
      <div class="spacer" id="waypointLabs"></div>
      <div class="text-center mb-3">
        <strong class="heading">Labs</strong>
      </div>
      <div class="text-justify">
        <ul>
          <li>Under Graduate
            <table class="table table-borderless table-sm">
              <tr>
                <td>EC211</td><td>Devices and Networks Laboratory</td>
              </tr>
              <tr>
                <td>EC213</td><td>Digital Electronics Laboratory</td>
              </tr>
              <tr>
                <td>EC212</td><td>Electronic Circuits Laboratory</td>
              </tr>
              <tr>
                <td>EC305</td><td>Analog Integrated Circuits Laboratory</td>
              </tr>
              <tr>
                <td>EC307</td><td>Digital Signal Processing Laboratory</td>
              </tr>
              <tr>
                <td>EC308</td><td>VLSI Design Laboratory</td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>