<div class="container">
  <div class="row">
    <div class="col-3">
      <div id="leftbar_wrapper" class="sticky-top pt-3 pb-3">
        <div id="leftbar">
          <ul class="nav flex-column">
            <li>
              <a  (click)="aboutSystems()" id="systemsLbl">Systems</a>
            </li>
            <li>
              <a  (click)="aboutSoftware()" id="softwareLbl">Software Tools</a>
            </li>
            <li>
              <a (click)="aboutHardware()" id="hardwareLbl">Hardware’s</a>
            </li>
            <li>
              <a (click)="aboutTextbook()" id="textbookLbl">Textbooks</a>
            </li>
            <li>
              <a (click)="aboutCorpora()" id="corporaLbl">Procured Open Source and Licensed Speech Corpora/Databases</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="spacer"></div>
      <div class="text-center mb-3">
        <strong class="heading" id="waypointSystems">Systems</strong>
      </div>
      <div class="text-justify">
        <ul>
          <li>HP Z440 Workstations</li>
          <li>HP Z Displays Z24i 24-Inch Widescreen LED Backlit Business IPS Monitors</li>
        </ul>
      </div>
      <div class="spacer" id="waypointSoftware"></div>
      <div class="text-center mb-3">
        <strong class="heading">Software Tools</strong>
      </div>
      <div class="text-justify">
        <ul>
          <li>Xilinx Vivado IDE Design Suite – HLx Edition</li>
          <li>Mentor Graphics EDA Tools
            <ul>
              <li>Design, Verification and Test Bundle</li>
              <li>IC Nanometer Design Bundle</li>
              <li>Boards/PCB Bundle</li>
            </ul>
          </li>
          <li>Synopsys EDA Tools
            <ul>
              <li>Asia Pac Full Custom University Bundle</li>
            </ul>
          </li>
          <li>Cadence EDA Tools</li>
          <li>SCL 180 nm PDK</li>
          <li>MATLAB</li>
        </ul>
      </div>
      <div class="spacer" id="waypointHardware"></div>
      <div class="text-center mb-3">
        <strong class="heading">Hardware’s</strong>
      </div>
      <div class="text-justify">
        <ul>
          <li>Basys 3 Xilinx Artix-7 FPGA (XC7A35T-CPG236-1C)</li>
          <li>Zed Board - Xilinx Zynq 7000 SoC XC7Z020 EPP Development Kit</li>
          <li>Genesys 2 Xilinx Kintex-7 FPGA (XC7K325T-FFG900-2C)</li>
          <li>Xilinx Virtex-7 FPGA VC707 Evaluation Kit</li>
          <li>Analog Discovery (Portable Analog Circuit Design Kit)</li>
          <li>Pmod KYPD 16-Button Hexadecimal Keypad with a simple interface</li>
          <li>Pmod CLP 16 x 2 Character LCD with a simple parallel interface</li>
        </ul>
      </div>
      <div class="spacer" id="waypointTextbooks"></div>
      <div class="text-center mb-3">
        <strong class="heading">Textbooks</strong>
      </div>
      <div class="text-justify">
        <ul>
          <li>Michael John Sebastian Smith, “Application-Specific Integrated Circuits”, Pearson.</li>
          <li>Richard Munden, “ASIC and FPGA Verification – A Guide to Component Modeling”, Elsevier.</li>
          <li>Keshab K. Parhi, “VLSI Digital Signal Processing Systems – Design and Implementation”, Wiley.</li>
          <li>Giovanni De Micheli, “Synthesis and Optimization of Digital Circuits”, McGraw Hill. </li>
          <li>Steve Kilts, “Advanced FPGA Design: Architecture, Implementation and Optimization”, Wiley.</li>
          <li>Christopher M. Bishop, “Pattern Recognition and Machine Learning”, Springer.</li>
        </ul>
      </div>
      <div class="spacer" id="waypointCorpora"></div>
      <div class="text-center mb-3">
        <strong class="heading">Procured Open Source and Licensed Speech Corpora/Databases</strong>
      </div>
      <div class="text-justify">
        <ul>
          <li>Isolated Speech Word Corpora/Databases
            <ul>
              <li>Indiana University Word Database</li>
              <li>Isolated Words – By Northwestern University</li>
              <li>Tohoku University – Matsushita Isolated Word Database (TMW)</li>
              <li>Speech Commands Dataset – By Google</li>
            </ul>
          </li>
          <li>Speech Emotion Corpora/Databases
            <ul>
              <li>Berlin Database of Emotional Speech (EmoDB)</li>
              <li>Keio University Japanese Emotional Speech Database (Keio-ESD)</li>
              <li>Ryerson Audio-Visual Database of Emotional Speech and Song (RAVDESS)</li>
              <li>Surrey Audio-Visual Expressed Emotion (SAVEE) Database</li>
              <li>Indian Institute of Technology Kharagpur Simulated Emotion Hindi Speech Corpus (IITKGP-SEHSC)</li>
              <li>Indian Institute of Technology Kharagpur Simulated Emotion Speech Corpus (IITKGP-SESC)</li>
            </ul>
          </li>
          <li>Monolingual Speech Corpora/Databases
            <ul>
              <li>Census Database (AN4 or Alphanumeric Database)</li>
              <li>English Language Speech Database for Speaker Recognition (ELSDSR)</li>
            </ul>
          </li>
          <li>Bilingual Speech Corpora/Databases
            <ul>
              <li>Effective Multilingual Interaction in Mobile Environments (EMIME)</li>
              <li>Spoken Interaction with Interpretation in Switzerland (SIWIS)</li>
            </ul>
          </li>
          <li>Multilingual Speech Corpora/Databases
            <ul>
              <li>AP16-OL7</li>
              <li>AP17-OL3</li>
              <li>AP18-OLR</li>
              <li>Indian Institute of Technology Kharagpur Multilingual Indian Language Speech Corpus (IITKGP-MLILSC)</li>
              <li>Indic TTS</li>
              <li>International Institute of Information Technology Hyderabad Indic Speech Database (IIIT-H ISD)</li>
            </ul>
          </li>
          <li>University of Tsukuba Multilingual Speech Corpus (UT-ML)</li>
        </ul>
      </div>
    </div>
  </div>
</div>