@import '../../styles/colorscheme';
    
.row{
  #leftbar{
    background-color: $leftbar-gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ul{
      list-style: none;
      padding: 1rem;
      li{
        a{
          text-decoration: none;
          color: $white;
          padding: 0.5rem;
          display: block;
        } 
        a:hover{
          background-color: $leftbar-gray-highlight;
        }
        .active{
          background-color: $leftbar-gray-highlight;
        }
      }
    }
  }
  .heading{
    font-size: 24px;
  }
  .spacer{
    height: 2rem;
  }
}
