<div id="root" class="container container-fluid d-flex align-items-center">
  <div class="row">
    <div id="lblHead_title" class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <strong><b>Contact</b></strong>
    </div>
    <div id="contacts-table" class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <table id= "table-style"class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Designation</th>
          <th style="border-right: none">Contact</th>
        </tr>
        <tr *ngFor="let data of content; let i=index">
          <td>{{data.name}}</td>
          <td>{{data.designation}}</td>
          <td style="border-right: none">Office: {{data.number}}<br>Email: <a href="mailto:{{data.mail}}">{{data.mail}}</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
