$base-color : #1b3a72;
$base-color-light : #1b428b;
$base-color-highlight: #142d5a;
$main-bg-color: #f2f2f2;
$navbar-bg: #293132;
$navbar-highlight: #222525;

$construct: #f7cd13;
$construct-black: #333333;
$construct-black-hover: #000000;
$line: #555555;
$line-light: #dddddd;
$leftbar-gray: #1F1F1F;
$leftbar-gray-highlight: #111111;
$fac-card-bg: #dbdbdb;
$fac-card-pic-border: #adadad;
//constants
$black: #000000;
$white: #ffffff;
$facebook-blue: #39569c;
$twitter-blue: #26a7de;
$youtube-red: #b2071d;
$linkedin-blue: #0072b1;