#root{ 
  #lblHead_title{
    margin-top: 3rem;
    margin-bottom: 3rem;
    strong{
      font-size: 24px;
    }
  }
  #fac_box{
    #lblHead{
      margin-bottom: 1rem;
      strong{
        font-size: 18px;
      }
    }
    #image{
      img{
        width: 140px;
        height: 180px;
        border-radius:70px;
      } 
      p{
        padding: 10px;
      }
      #designation{
        font-size: 18px;
      }
    }
  }
}