<div id="root" class="container container-fluid">
  <div class="row">
    <div id="lblHead_title" class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <strong><b>Faculty</b></strong>
    </div>
    <div id="fac_box" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 " *ngFor="let index of faculty">
      <div id="image" class="text-center">
        <img src="{{index.pic}}">
        <div id="lblHead" class="text-center">
          <p><strong>{{index.name}}</strong> </p>
        </div>
        <div id="lblHead" class="text-center">
          <p>{{index.qualification}}</p>
        </div>
      </div>
      <div id="Profile">
        <div id="details">
          <table>
            <tr class="text-left">
              <p><strong>Designation<br></strong>{{index.designation}}</p>
              <p>
                <strong>Research Areas:<br></strong>
                {{index.research}}
              </p>
              <p>
                <strong>Office Address: <br></strong>
                {{index.address}}
              </p>
              <p><strong>Mail : </strong><a>{{index.mail}}</a></p>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div id="lblHead_title" class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <strong><b>Research Staff</b></strong>
    </div>
    <div id="fac_box" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 " *ngFor="let index of staff">
      <div id="image" class="text-center">
        <img src="{{index.pic}}">
        <div id="lblHead" class="text-center">
          <p><strong>{{index.name}}</strong> </p>
        </div>
        <div id="lblHead" class="text-center">
          <p>{{index.qualification}}</p>
        </div>
      </div>
      <div id="Profile">
        <div id="details">
          <table>
            <tr class="text-left">
              <p><strong>Designation<br></strong>{{index.designation}}</p>
              <p>
                <strong>Research Areas:<br></strong>
                {{index.research}}
              </p>
              <p><strong>Mail : </strong><a>{{index.mail}}</a></p>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>