<div class="container container-fluid">
  <div class="row">
    <div id="lblhead" class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5">
      <strong>Trainings / Workshops / IEPs Attended </strong>
    </div>
    <div id="lblhead-sub" class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5">
      <strong>SMDP-C2SD Sponsored Trainings/Workshops/IEPs Attended by Faculty/Research Staff</strong>
    </div>
    <div id="trainings-table" class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <table id= "table-style"class="table table-bordered">
        <tr>
          <th>S.no</th>
          <th>Type</th>
          <th>Topic</th>
          <th>Date</th>
          <th style="border-right: none">Institute</th>
        </tr>
        <tr *ngFor="let data of content; let i=index">
          <td>{{i+1}}</td>
          <td>{{data.type}}</td>
          <td>{{data.topic}}</td>
          <td>{{data.date}}</td>
          <td style="border-right: none">{{data.institute}}</td>
        </tr>
      </table>
    </div>
    
  </div>
</div>