.container{
  #lblhead{
    width:100%;
    font-size :20px;
    font-weight:bold;
  }
  #lblhead-sub{
    width:100%;
    font-size :18px;
    font-weight:bold;
  }
  #trainings-table{
    /*.table-bordered td, .table-bordered th {
      border: 1px solid #000000;
    }*/
    #table-style{
      margin-bottom:4rem;
      margin-top:4rem;
      //border: solid #000000 1px ;
      outline-style: solid;
      outline-width: 1px;
      border-right: none;
      td{
        //border-left: solid #000000 1px ;
        border-right: solid #000000 1px ;
      }
      th{
        border-right: solid #000000 1px ;
        border-bottom: solid #000000 1px ;
      }
    }
  }
}