/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import 'styles/colorscheme';

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: $main-bg-color;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}