<div class="container">
  <div class="row">
    <div class="col-3">
      <div id="leftbar_wrapper" class="sticky-top pt-3 pb-3">
        <div id="leftbar">
          <ul class="nav flex-column">
            <li>
              <a  (click)="aboutClick()" id="aboutLbl">About</a>
            </li>
            <li>
              <a  (click)="visionClick()" id="visionLbl">Vision / Mission / Objectives</a>
            </li>
            <li>
              <a (click)="researchClick()" id="researchLbl">Research</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="spacer"></div>
      <div class="text-center mb-3">
        <strong class="heading" id="waypointHome">Home</strong>
      </div>
      <div class="text-justify">
        <p>Welcome to the homepage of SMDP-C2SD Group in the Department of Electronics and Communication Engineering at National Institute of Technology Puducherry, Karaikal. For the first time, we became the part of the SMDP program during Phase-III Project, by acquiring the status of Participating Institution (PI), under the Cluster Head/Resource Centre (RC) IIT-Madras.</p>
        <p>Our faculty and students are involved in research in the areas of Digital VLSI System Designs. Explore this webpage to find out more about us and our on-going research.</p>
      </div>
      <div class="spacer" id="waypointAbout"></div>
      <div class="text-center mb-3">
        <strong class="heading">About SMDP</strong>
      </div>
      <div class="text-justify">
        <p>“Special Manpower Development Program” in VLSI and Related Software was started by the Government of India in 1998 as Phase-I Project, during 9th Plan, for a period of 5 years, to meet the manpower needs in VLSI industries of India and to increase India’s share of the Global VLSI Design Market from 0.5% to 5%. The project was initiated at 19 institutions. Upon completion of Phase-I, the SMDP Phase-II Project was initiated during 10th plan in 2005, with an aim to increase the global VLSI Design Market share around 15% by 2010. An additional 6 institutions participated in Phase-II project.</p>
        <p>Upon completion of Phase-II Project, the subsequent SMDP Phase-III Project titled “Special Manpower Development Program for Chips to System Design (SMDP-C2SD)” has been initiated by MeitY (erstwhile DeitY) under Digital India Program in December 2014 at 60 Academic and Research & Development Institutions spread across the country including IITs, NITs, IISc, IIITs and other institutions with an aim to train specialized manpower over a period of 5 years in the area of VLSI Design and inculcate the culture of System-on-Chip/System Level Design at Bachelors, Masters and Research level Degrees. Currently, Phase-III Projects are going-on across India.</p>
        <p>In addition to generating specialized manpower in the area of VLSI, 10 cluster projects for development of systems are being launched in Phase-III of SMDP. These projects are being mentored by 10 Resource Centers. 50 participating institutions, including all NITs would contribute to the development of these systems.</p>
        <p>The Ministry has provided adequate funds to carry out research and to establish VLSI Design Laboratories with advanced EDA CAD software tools in all participating institutions. Under this program, the Ministry also provides funds for Tool Training Programs, Instruction Enhancement Programs (IEP’s) and fabrication of IC’s through the Semi-Conductor Laboratory (SCL), Mohali.</p>
      </div>
      <div class="spacer" id="waypointVision"></div>
      <div class="text-center mb-3">
        <strong class="heading">Vision</strong>
      </div>
      <div class="text-justify">
        <ul>
          <li>To promote Electronics System Design and Manufacturing (ESDM) in India.</li>
        </ul>
      </div>
      <div class="spacer"></div>
      <div class="text-center mb-3">
        <strong class="heading">Mission</strong>
      </div>
      <div class="text-justify">
        <ul>
          <li>Need to develop manpower that has expertise not only in VLSI Design but also in System on Chip / System Development.</li>
          <li>A step towards bringing a SoC / System Development culture in academic institutions of India.</li>
        </ul>
      </div>
      <div class="spacer"></div>
      <div class="text-center mb-3">
        <strong class="heading">Objectives</strong>
      </div>
      <div class="text-justify">
        <ul>
          <li>Development of Specialized Manpower in VLSI Design and Chips to System Design at various levels viz. B.E. / B.Tech, M.E. / M.Tech and Ph.D. in VLSI Design / Microelectronics.</li>
          <li>Establishment of VLSI Design Laboratories at RC’s and PI’s.</li>
          <li>Bring in a culture of System on Chip / System designing by developing working prototypes of systems using Application-Specific Integrated Circuits (ASICs) / ICs designed as part of the program.</li>
        </ul>
      </div>
      <div class="spacer" id="waypointResearch"></div>
      <div class="text-center mb-3">
        <strong class="heading">Research</strong>
      </div>
      <div class="text-justify">
        <p>In our institution, research is currently going on the below mentioned topics under SMDP-C2SD Phase-III Project.</p>
        <ul>
          <li>Development of FPGA Prototype for Speech Recognition</li>
          <li>Development of FPGA Prototype for Speech Emotion Recognition</li>
        </ul>
        <a href="http://smdpc2sd.gov.in/">[Source: http://smdpc2sd.gov.in/]</a>
      </div>
    </div>
  </div>
</div>