<div class="container">
  <div class="text-center mt-3 mb-3">
    <strong class="heading">Publications</strong>
  </div>
  <div class="text-left">
    <strong>Journals / Conferences</strong>
  </div>
  <div class="text-justify ml-3 mt-2">
    <strong>2019</strong>
    <ul>
      <li>Nettimi Satya Sai Srinivas, N. Sugan, Niladri Kar, L. S. Kumar, Malaya Kumar Nath and Aniruddha Kanhe, "Recognition of Spoken Languages from Acoustic Speech Signals using Fourier Parameters", in Springer Nature’s Journal of Circuits, Systems and Signal Processing (CSSP), pp. 1-50, April, 2019. (Impact Factor: 1.998). DOI: 10.1007/s00034-019-01100-6.<br>[Online] Available: <a href="https://rdcu.be/buOpa/">https://rdcu.be/buOpa/</a> and <br><a href="https://link.springer.com/article/10.1007/s00034-019-01100-6">https://link.springer.com/article/10.1007/s00034-019-01100-6</a></li>
    </ul>
    <strong>2018</strong>
    <ul>
      <li>Nettimi Satya Sai Srinivas, N. Sugan, Lakshmi Sutha Kumar, Malaya Kumar Nath and Aniruddha Kanhe, "Speaker-Independent Japanese Isolated Speech Word Recognition Using TDRC Features," 2018 International CET Conference on Control, Communication, and Computing (IC4), Thiruvananthapuram, 2018, pp. 278-283.<br>DOI: 10.1109/CETIC4.2018.8530947.<br>URL: <a href="https://ieeexplore.ieee.org/document/8530947">https://ieeexplore.ieee.org/document/8530947</a></li>
      <br>
      <li>N. Sugan, Nettimi Satya Sai Srinivas, Niladri Kar, Lakshmi Sutha Kumar, Malaya Kumar Nath and Aniruddha Kanhe, "Performance Comparison of Different Cepstral Features for Speech Emotion Recognition," 2018 International CET Conference on Control, Communication, and Computing (IC4), Thiruvananthapuram, 2018, pp. 266-271.<br>DOI: 10.1109/CETIC4.2018.8531065.<br>URL: <a href="https://ieeexplore.ieee.org/document/8531065">https://ieeexplore.ieee.org/document/8531065</a></li>
    </ul>
  </div>
</div>